<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--导入资源文件-->
    <context:property-placeholder location="classpath:database.properties"/>
    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="url" value="${jdbc.jdbcUrl}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="driverClassName" value="${jdbc.driverClass}"/>

        <!-- 初始化连接池中的连接数 ,default : 3 -->
        <!-- 连接池中保留的最小连接数 ,default : 3 -->
        <!-- 连接池中保留的最大连接数, Default: 15 -->
        <!-- maxIdleTime 60秒内未使用则连接被丢弃,Default: 0 -->
        <!-- 连接池在获得新连接失败时重试的次数,default : 30 -->
        <!-- 连接池在获得新连接时的间隔时间。default : 1000 单位ms -->
        <!-- 连接池为数据源单个Connection缓存的PreparedStatement数 -->
        <!-- idleConnectionTestPeriod闲置的连接测试周期[秒] -->
    </bean>
    <!--JPA 配置 start-->
    <!-- 实体管理器-->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <!-- 指定数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceProvider" ref="persistenceProvider" />
        <!-- 指定Entity实体类包路径 -->
        <property name="packagesToScan" >
            <array>
                <value>com.aiguibin.entities</value>
            </array>
        </property>
        <!-- 指定Jpa持久化实现厂商类-->
        <property name="jpaVendorAdapter">
            <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="generateDdl" value="false" />
                <property name="database" value="MYSQL" />
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL57Dialect" />
                <property name="showSql" value="false" />
            </bean>
        </property>
        <!-- 指定JPA属性-->
        <property name="jpaPropertyMap">
            <map>
                <entry key="hibernate.query.substitutions" value="true 1, false 0" />
                <entry key="hibernate.default_batch_fetch_size" value="16" />
                <entry key="hibernate.max_fetch_depth" value="2" />
                <entry key="hibernate.generate_statistics" value="false" />
                <entry key="hibernate.bytecode.use_reflection_optimizer" value="true" />
                <entry key="hibernate.cache.use_query_cache" value="false" />
                <entry key="hibernate.cache.use_second_level_cache" value="false" />
                <entry key="hibernate.enable_lazy_load_no_trans" value="true"/>
                <!--数据库字段名称映射规则 acb_id自动转abcId-->
                <entry key="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy" />
                <!--<entry key="hibernate.hbm2ddl.auto" value="validate"/>-->
            </map>
        </property>
    </bean>
    <bean id="persistenceProvider" class="org.hibernate.jpa.HibernatePersistenceProvider"/>
    <!-- dao包-->
    <jpa:repositories base-package="com.path.to.dao,com.path.to.dao2" repository-impl-postfix="Impl" transaction-manager-ref="transactionManager" entity-manager-factory-ref="entityManagerFactory"/>
    <!-- 配置MySuperDao -->
    <!--<bean id="mySuperDao" class="aiguibin.Envelope.MyDao.MySuperDao">-->
    <!--<property name="sessionFactory" ref="sessionFactory"></property>-->
    <!--</bean>-->


    <context:component-scan base-package="com"/>
    <mvc:annotation-driven/>
</beans>