<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="./../../themes/main.css">
    <script src="./../../libs/vue/vue-2.5.13.js"></script>
    <script src="./../../libs/elementUI/libs/element-2.13.2.js"></script>
    <script src="./../../libs/jquery/jquery.js"></script>
</head>

<body>
    <div id="regist">
        <el-row >
            <el-col :push="8" :span="8">
                <div>
                    <el-collapse v-model="activeNameArray" accordion class="collapse-item">
                        <el-collapse-item title="管理员注册" name="admin" v-if="collapseFlag=='admin'">
                            <el-form ref="form" :model="form" label-width="120px" size="medium" class="formStyle">
                                <el-form-item label="姓名">
                                    <el-input v-model="form.name" ></el-input>
                                </el-form-item>
                                <el-form-item label="密码">
                                    <el-input v-model="form.password"></el-input>
                                </el-form-item>
                                <el-form-item label="联系方式">
                                    <el-input v-model="form.phone"></el-input>
                                </el-form-item>
                                <el-form-item label="联系地址">
                                    <el-input v-model="form.address"></el-input>
                                </el-form-item>
                                <el-form-item label="注册日期">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="form.date1"
                                        style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-form>
                            <el-col :span="8" :offset="10">
                                <div>
                                    <el-button type="primary" @click="submitFn">提交</el-button>
                                    <el-button type="primary">取消</el-button>
                                </div>
                            </el-col>
                        </el-collapse-item>
                        <el-collapse-item title="学生注册" name="student" v-if="collapseFlag=='student'">
                            <el-form ref="form" :model="form" label-width="120px" size="medium" class="formStyle">
                                <el-form-item label="姓名">
                                    <el-input v-model="form.name"></el-input>
                                </el-form-item>
                                <el-form-item label="密码">
                                    <el-input v-model="form.password"></el-input>
                                </el-form-item>
                                <el-form-item label="性别">
                                    <el-input v-model="form.sex"></el-input>
                                </el-form-item>
                                <el-form-item label="年龄">
                                    <el-input v-model="form.age"></el-input>
                                </el-form-item>
                                <el-form-item label="民族">
                                    <el-input v-model="form.nation"></el-input>
                                </el-form-item>
                                <el-form-item label="邮箱">
                                    <el-input v-model="form.email"></el-input>
                                </el-form-item>
                                <el-form-item label="手机号码">
                                    <el-input v-model="form.phone"></el-input>
                                </el-form-item>
                                <el-form-item label="常住地址">
                                    <el-input v-model="form.address"></el-input>
                                </el-form-item>
                                <el-form-item label="注册时间">
                                    <el-date-picker type="date" placeholder="选择日期" v-model="form.register"
                                        style="width: 100%;"></el-date-picker>
                                </el-form-item>
                            </el-form>
                            <el-col :span="8" :offset="10">
                                <div>
                                    <el-button type="primary">提交</el-button>
                                    <el-button type="primary">取消</el-button>
                                </div>
                            </el-col>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </el-col>
        </el-row>
    </div>
    <script src="./regist.js"></script>
    <style>
        .formStyle {
            width: 500px;

        }

        .collapse-item .el-collapse-item__header {
            font-size: 18px;
            color: #36c3ff;
        }
    </style>
</body>

</html>